altair
anyio
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
folium
geopandas
gitdb
GitPython
h11
httptools
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pandas-stubs
pillow
plotly
protobuf
pyarrow
pydeck
pyogrio
pyproj
python-dateutil
python-multipart
referencing
requests
rpds-py
shapely
six
smmap
starlette
streamlit
streamlit-folium
tenacity
toml
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
xyzservices
